html {
    box-sizing: border-box;
}
*,
::before,
::after {
    box-sizing: inherit;
}

body {margin: 0;
line-height: 1.4;
font-size: 15px;
font-family: "Barlow", sans-serif;
    font-weight: 400;
}

li {list-style-type: none; padding-left:0;}

a, a.link, a.visited {color:#84609e; font-weight: 600;}

h1 {
font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-size: 2.2em;
    margin-bottom: 20px;
}

h2,
.h2 { font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-size: 1.8em;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #a8c5b6;
}

h3 {
    font-weight:600;
    font-size: 1.15em;
    margin-bottom: 0;
}

.date {
    margin-top:0;
    color: #a5a5a5;
}



button {
    padding: 12px;
    background-color: #fda146;
    border-radius: 5px;
    border: none;
}

button a {
    color: white; 
    text-decoration: none; 
    font-weight: 600; 
    
}

button:hover {background-color: #db9147;}

/*  HLAVIČKA */

header {
    text-align: center;
    padding-top: 100px;
    height: 400px;
    background-image: url("images/cover.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}

.contact li {
    display: inline; 
    padding: 15px 20px;
}

.contact {
    font-size: 1.1em;
    font-weight: 600; 
    margin: 40px 0 15px 0; 
    color: #84609e;
}

.contact li:nth-child(n)::before {
    content: "";
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-right: 5px;
    top: 3px;
    position: relative;
}


.contact li:nth-child(1)::before {
    background: url("images/map_icon.png") no-repeat;
}

.contact li:nth-child(2)::before {
    background: url("images/email_icon.png") no-repeat;
}

.contact li:nth-child(3)::before {
    background: url("images/phone_icon.png") no-repeat;
}

.contact li:nth-child(4)::before {
    background: url("images/instagram_icon.png") no-repeat;
}

.contact li:nth-child(5)::before {
    background: url("images/linkedin_icon.png") no-repeat;
}

section {
    padding: 40px 25%; 
    box-shadow: 0 3px 15px rgba(0, 0, 0,0.15);
    border-bottom: 4px dashed #acacd3;
}

section.about-me {
    background-color: #f7ecee; 
    overflow: auto; 
}

img.me {
    max-width: 200px; 
    border-radius: 50% 0% 40% 3%; 
    float:right; 
    padding: 10px 0 20px 20px; 
}

/* NOW */

.photo {margin-top: 40px;}

.photo img:nth-child(n){
    width: 19%;
}
.photo img:nth-child(1),
.photo img:nth-child(2) {
    border-radius: 0% 50% 0% 40%;
}

.photo img:nth-child(3) {
    border-radius: 50%;
}

.photo img:nth-child(4),
.photo img:nth-child(5) {
    border-radius: 40% 0% 50% 0%;
}

.other {
display:flex;}

section.other div { padding: 0 25px;}

.other ul {padding-left: 0;}

footer {
    text-align:center;
    padding: 20px 0;
    background-color: #acacd3;
}